<div class="container">
    <button routerLink="payment"> Navigate to Payments </button>
    <div class="list-div" *ngIf="showPayments">
        <h3> Payment Details </h3>
        <ul class="lists">
            <li class="list-item" *ngFor="let each of paymentData">
                <span> {{ splitCamelCase(each.key) | titlecase }} </span>
                <span> : </span>
                <span> {{ each.key.includes('amount') ? (each.value | currency:'INR') : each.value }} </span>
            </li>
        </ul>
    </div>
    <router-outlet></router-outlet>
</div>

